<ion-header>
  <ion-toolbar  color="dark">
    <ion-title>
      Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
      <ion-item>
          <ion-label position="stacked">Correo electronico</ion-label>
          <ion-input name="email" [(ngModel)]="data.email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input name="usuario" [(ngModel)]="data.usuario"></ion-input>
      </ion-item>

      <table>
        <p></p>
      </table>

      <ion-button expand="full" color="dark" (click)="enviarForm(data)">Enviar</ion-button>
      <ion-button expand="full" color="dark" (click)="actualizarForm(data)">Actualizar</ion-button>
      <ion-button expand="full" color="dark" (click)="mostrarDatos(data)">Mostrar</ion-button>
    </form>
</ion-content>
